.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home-container.container {
  margin-top: 7%;
}

#profile_section .card{
  position: fixed;
  width: 18%;
}

@media (min-width: 768px) and (max-width: 1200px)  {
  .home-container.container {
    margin-top: 13%;
  }

  #profile_section .card{
    position: fixed;
    width: auto;
  }

 }

@media (max-width: 767px)  {

  .home-container.container {
    margin-top: 25%;
  }
  
  #profile_section .card{
    position: relative;
    width: auto;
    
  }
}
